/*Colors*/
@btn-color: #ffe547;
@icons-color: rgb(3, 99, 3);
@text: #1e1e1e;
@danger: red;
@bg-light: gray;
@border-input: #dddddd;
@problems-color: #e8e8e8;

/*Basic settings*/
* {
	padding: 0;
	margin: 0;
	border: 0;
	}
html{
        font-size:10px;
        font-family:'Gill Sans',Arial,Helvetica,sans-serif;
        overflow-x:hidden
}
html body{
        overflow-x:hidden;
}
body {
    width: 100vw;
}
a {
    text-decoration: none;
    color: @text;
 &:hover {
    text-decoration: none;
 }
}
button, input, a, textarea {
    &:focus {
        outline: none;
    }
}
.button {
    display: inline-block;
    background-color: @btn-color;
    font-size: 1.2rem;
    font-weight: 700;
    color: @text;
    padding: 1rem 3rem;
    border-radius: 6px;
    text-transform: uppercase;
    border: none;
    transition: all 0.2s;
    user-select: none;
    letter-spacing: .08rem;
    cursor: pointer;
    &:hover {
        cursor: pointer;
        background-color: darken(@btn-color, 5%)
    }
}
.form {
    /*input field*/
    border-radius: 50px;
    &-input, &-textarea {
        display: block;
        margin: 2rem 0;
        width: 100%;
        border: 1px solid @border-input;
        border-radius: 5px;
        padding: 1.5rem;
    }
    /*field signature*/
    label {
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        padding: 0.5rem;
        font-size: 1.3rem;
        //background-color: white;
    }
    /*button in form*/
    &-btn {
        display: block;
        width: 100%;
        height: 5.5rem;
        font-size: 1.6rem;
    }
}
/*typography*/
section {
    padding: 10rem 0;
}
.section-header {
    &_light {
        color: white;
    }
    h2 {
        font-weight: 900;
        font-size: 3.6rem;
    }
    p {
        font-size: 1.4rem;
        color: @text;
    }
    margin: 2rem 0 10rem;
    text-align: center;
}
/*Main*/
.main {
    position: relative;
    width: 100vw;
    min-height: 1px;
    background: #fff;
    background-size: cover;
    .header {
        &-top {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 3rem 0 2rem 0;
            .main-logo {
                flex-grow: 1;
                width: 129px;
                margin-top: -.5rem;
                .header-top_logo {
                    display: inline-block;
                    width: 12.9rem;
                    height: 4.1rem;
                    background-image: url('../img/kflex-logp.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
            .phone-block {
                flex-grow: 0;
                padding-bottom: 0;
                a {
                    font-size: 1.5rem;
                    padding-bottom: 1px;
                    font-weight: 700;
                }
            }
        }
    } 
    /*subtitle*/
    &-subtitle {
        margin-bottom: 1rem;
        font-size: 2.4rem;
    }
    /*green label*/
    span {
        display: inline-block;
        padding: 3rem 5rem;
        font-size: 1.8rem;
        text-align: center;
        background-color: #fff;
        border: 2px solid @text;
        color: @text;
        /*number 300*/
        strong {
            font-size: 3rem;
        }
    }
    &-trigger {
        display: block;
        margin-top: 3rem;
        font-size: 2.2rem;
        text-transform: uppercase;
    }
    /*main form*/
    &-form {
        padding: 4rem 5rem;
        background-color: #edf0f6;
        text-align: center;
        /*heading form*/
        &-header {
            font-size: 1.8rem;
            margin-bottom: 4rem;
            strong {
                font-size: 1.9rem;
            }
        }
        
        small {
            display: block;
            margin-top: 1.5rem;
        }
     }
    
}
.main-content {
    .main-title {
        h1 {
            margin-bottom: 2rem;
        }
    }
}
/*Features section*/
.features {
    background-color: #edf0f6;
    &-block {
        text-align: center;
        h3 {
            font-weight: 900;
            font-size: 2rem;
            margin-bottom: 3rem;
        }
        p {
            display: inline-block;
            width: 80%;
            font-size: 1.4rem;
        }
    }
    &-img {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 300px;
        justify-content: space-around;
        //border: 1px solid black;
     img {
        display: block;
        margin: 0 auto;
        margin-bottom: 2rem;
    }
 }
}
.slick-active {
    outline: none;
}
.arrow {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    border: none;
}
.prev {
    left: 0;
    background: url(../img/left-arrow.png) center no-repeat;
    background-size: 70%;
}
.next {
    right: 0;
    background: url(../img/right-arrow.png) center no-repeat;
    background-size: 70%;
}

/*Prices section*/
.price {
    background-color: #fff;
    &-button {
        text-align: right;
    }
    //background: @icons-color;
    &-header-btn {
        margin-top: 4rem;
    }
    &-block {
        padding: 1rem 3rem 4rem;
        min-height: 50rem;
        background-color: white;
        box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
        text-align: center;
        h4 {
            margin: 3rem 0;
            font-size: 1.6rem;
            font-weight: 900;
        }
        &_category {
            display: grid;
            grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
            grid-template-rows: repeat(auto-fill,110px);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            margin: 0 0 3rem 0;
            article {
                position: relative;
                background-color: #edf0f6;
                min-height: 110px;
                overflow: hidden;
                border-radius: 2px;
                img {
                    position: absolute;
                    top: 0;
                    right: -20px;
                    height: 120px;
                    width: 120px;
                }
                a {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                    line-height: 2.3rem;
                    cursor: pointer;
                    padding: 0 90px 0 20px;
                    h3 {
                        font-size: 1.8rem;
                        line-height: 2.1rem;
                        font-weight: 500;
                    }
                }
            }
        }
    }
    &-list {
        padding: 0;
        list-style: none;
        min-height: 14rem;
        font-size: 1.5rem;
        line-height: 2rem;
        li {
            &::before {
                content: '';
                display: inline-block;
                width: 2.2rem;
                height: 2.2rem;
                background: url(../img/check.png) no-repeat center;
                vertical-align: middle;
            }
        }
    }
    &-tag {
        display: block;
        margin-bottom: 2rem;
        font-size: 1.9rem;
        font-weight: 900;
    }
}

/*Feedback section*/
.feedback {
    background-color: #edf0f6;
    background-size: cover;
    &-prev-btn{
        left: -5rem;
    }
    &-next-btn{
        right: -5rem;
    }
    &-text{
        position: relative;
        padding: 1rem;
        margin-top: 2rem;
        border: 2px solid @icons-color;
        font-style: italic;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: -2rem;
            left: 8rem;
            width: 2rem;
            height: 2rem;
            border: 2px solid @icons-color;
            background-color: #fff;
            border-bottom: none;
            border-top-right-radius: 100px;
        }
    }
    &-slider{
        padding: 5rem 6rem;
        background-color: #fff;
        box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
        p {
            font-size: 1.6rem;
        }
        &-btn {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 5rem;
            height: 5rem;
            background-color: #ffe547;
            border: none;
            img{
                width: 50%;
            }
        }
    }
    .media{
        margin-top: 3rem;
        font-size: 1.4rem;
        h5{
            font-weight: 900;
        }
        img{
            border-radius: 50px;
        }
    }
    &-form {
        margin-top: 5rem;
        padding: 4rem 10rem;
        text-align: center;
        background-color: #fff;
        h3 {
            margin-bottom: 1rem;
            font-size: 2rem;
            font-weight: 900;
        }
        label {
            transform: translate(-0%, 32px);
            background-color: #fff;
        }
    }
    &-btn {
        max-width: 30rem;
        margin: auto;
    }
}

/*Scheme section*/
.scheme {
    //background: url(../img/scheme/finishnaya-shpaklevka-pod-pokrasku.jpg) bottom right no-repeat;
    background-size: 100%;
    .media {
        align-items: baseline;
    }
    h3 {
        font-size: 2rem;
    }
    p {
        margin-left: 1rem;
    }
}

/*All inclusive*/
.all-inclusive {
    background-color: #edf0f6;
    .media {
        min-height: 8rem;
        font-size: 1.3rem;
        &-body {
            margin-left: 1rem;
        }
        h4 {
            padding-top: 1rem;
            font-weight: 900;
            font-size: 1.6rem;
        }
    }

}
 .circle {
     display: inline-block;
     background-color: #ffe547;
     width: 100%;
     height: 100%;
     border-radius: 50%;
     &-border {
         display: inline-block;
         width: 5rem;
         height: 5rem;
         padding: 0.3rem;
         border: 2px solid #1e1e1e;
         border-radius: 50%;
         text-align: center;
         line-height: 4rem;
         color: #1e1e1e;
         font-weight: 900;
         font-size: 1.6rem;
     }
 }

 /*Problems*/
.problems {
    &-list{
        border: 4px solid;
        padding: 2rem;
        margin-bottom: 2rem;
        min-height: 32rem;
        h4 {
            font-size: 2.1rem;
            font-weight: 900;
        }
        ul {
            padding-left: 0;
            padding-top: 2rem;
            list-style: none;
            li {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 3rem;
                    height: 3rem;
                }
                padding-left: 3.5rem;
                margin-bottom: 3rem;
            }
        }
        &_bad {
            border-color: @problems-color;
            h4 {
                opacity: 0.5;
            }
            ul li:before {
                background: url(../img/problems/icons8-удалить-48.png) no-repeat center;
                background-size: 70%;
            }
        }
        &_good {
            border-color: #ffe547;
            ul li:before {
                background: url(../img/problems/icons8-галочка-48.png) no-repeat center;
                background-size: 70%;
            }
        }
    }
}

/*Certificate*/
.certificate {
    background-color: #edf0f6;
    &-slider {
        padding-top: 5rem;
        .certificate-block {
            position: relative;
            .second-img {
                position: absolute;
            }
            .third-img {
                position: absolute;
            }
            h3 {
                margin-top: 8rem;
                text-align: center;
            }
        }
    }
    &-link {
        color: @icons-color;
        border-bottom: 1px dotted @icons-color;
        &:hover {
            color: darken(@icons-color, 20%);
        }
    }
    img {
        display: block;
        margin: 0 auto;
    }
    &-offer {
        margin-top: 4rem;
        text-align: center;
    }
}

/*How we works*/
.tour {
    background-color: #fff;
    &-subtitle {
        font-size: 2.2rem;
    }
}

/*Upsell*/
.upsell {
    background: #edf0f6;
    .section-header {
        h2 {
            color: #1e1e1e;
        }
    }
    &-block {
        min-height: 15rem;
        text-align: center;
        color: #fff;
        align-items: center;
        img {
            padding: 5px;
            border-radius: 25px;
        }
        
            align-items: center;
        p {
            margin-bottom: 2rem;
            font-size: 2.2rem;
            color: @text;
            //border: 1px solid black;
        }
    } 
}

/*Contacts*/
.contacts {
    h2 {
      font-weight: 900;
    }
    p {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    &-link {
        display: inline-block;
        color: @text;
        border-bottom: 1px dotted @text;
        &:hover {
            color: darken(@text, 20%);
        }
    }
    &-form{
        h2 {
            margin-bottom: 3rem;
            font-size: 1.9rem;
        }
    }
}

/*Footer*/
footer {
    padding: 4rem 0;
    background-color: #edf0f6;
    color: #fff;
    address {
        color: @text;
        p {
            margin: 0;
            line-height: 2.4rem;
        }
    }
}
.footer {
    &-contacts {
        text-align: center;
        padding-top: 2rem;
        p {
            margin: 0;
        }
    }
}

/*Modal windows*/
.popup {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.5);
    &-form {
        margin-top: 3rem;
        padding: 0;
    }
    &-close {
        position: absolute;
        top: -1.5rem;
        right: -2rem;
        width: 2rem;
        text-align: center;
        border: none;
        background-color: transparent;
        font-size: 2rem;
        color: white;
    }
    &-content {
        position: fixed;
        top: 10%;
        left: 50%;
        background-color: white;
        transform: translateX(-50%);
        padding: 4rem 6rem;
        text-align: center;
    }
    &-header {
        font-weight: 900;
    }
}
/*Media query*/
@media(max-width: 400px){
    .section-header {
        text-align: left;
        p {
            font-size: 1.8rem;
        }
    }
    .main {
        .phone-block {
            margin: 0;
            text-align: left;
        }
        &-subtitle {
            line-height: 2.4rem;
        }
    }
    .main-content {
        .main-title {
            text-align: left;
            h1 {
                font-size: 3.6rem;
                span {
                    display: block;
                }
            }
        }
        .main-form {
            margin-bottom: 3rem;
        }
    }
    .price-block {
        margin-bottom: 3rem;
        h4 {
            text-align: left;
        }
    }
    .features {
    &-img {
        margin-bottom: 0rem;
    }
    &-block {
        p {
            font-size: 1.8rem;
        }
    }
    }
    .scheme {
    .container {
    p {
        margin-bottom: 3rem;
        font-size: 1.4rem;
    }
  }
    }
    .all-inclusive {
    .media {
        &-body {
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
    }
    .problems {
    &-list {
        h3 {
            font-size: 2rem;
            font-weight: 500;
        }
        ul {
            font-size: 1.4rem;
        }
    }
    }
    .certificate {
    &-slider {
        .certificate {
            &-block {
                .first-img {
                    width: 80%;
                }
                .second-img {
                    top: 5%;
                    left: 25%;
                }
                .third-img {
                    top: 10%;
                    left: 35%;
                }
                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                }

            }
        }
    }
    }
    .upsell {
    .section-header {
        p {
            margin-bottom: 3rem;
        }
    }
    &-block {
        p {
            margin-bottom: 3rem;
        }
    }
    }
    .contacts {
    p {
        font-size: 1.8rem;
    }
    }
    footer {
    .footer-logo {
        margin-bottom: 3rem;
    }
    p {
        font-size: 1.8rem;
    }
    .text-bold {
        font-weight: 500;
    }
    }
}
@media(min-width: 401px) and (max-width: 500px){
    .main {
        .phone-block {
            margin: 0;
            text-align: left;
        }
        &-subtitle {
            line-height: 2.4rem;
        }
    }
    .main-content {
        .main-title {
            text-align: left;
            h1 {
                font-size: 3.6rem;
                span {
                    display: block;
                }
            }
        }
        .main-form {
            margin-bottom: 3rem;
        }
    }
    .price-block {
        margin-bottom: 3rem;
        h4 {
            text-align: left;
        }
    }
    .section-header {
        text-align: left;
        p {
            font-size: 1.8rem;
        }
    }
    .features {
    &-img {
        margin-bottom: 0rem;
    }
    &-block {
        p {
            font-size: 1.8rem;
        }
    }
    }
    .scheme {
    .container {
    p {
        margin-bottom: 3rem;
        font-size: 1.4rem;
    }
  }
    }
    .all-inclusive {
    .media {
        &-body {
            h3 {
                font-size: 2rem;
            }
            p {
                font-size: 1.5rem;
            }
        }
    }
    }
    .problems {
    &-list {
        h3 {
            font-size: 2rem;
            font-weight: 500;
        }
        ul {
            font-size: 1.4rem;
        }
    }
    }
    .certificate {
    &-slider {
        .certificate {
            &-block {
                .first-img {
                    width: 90%;
                }
                .second-img {
                    top: 5%;
                    left: 35%;
                }
                .third-img {
                    top: 10%;
                    left: 45%;
                }
                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                }

            }
        }
    }
    }
    .upsell {
    .section-header {
        p {
            margin-bottom: 3rem;
        }
    }
    &-block {
        p {
            margin-bottom: 3rem;
        }
    }
    }
    .contacts {
    p {
        font-size: 1.8rem;
    }
    }
    footer {
    .footer-logo {
        margin-bottom: 3rem;
    }
    p {
        font-size: 1.8rem;
    }
    .text-bold {
        font-weight: 500;
    }
    }
}
@media(min-width: 501px) and (max-width: 576px){
    .section-header {
        text-align: left;
        p {
            font-size: 1.8rem;
        }
    }
    .main {
        .header {
            &-top {
                .wrap {
                    display: flex;
                    justify-content: flex-end;
                    width: 100%;
                }
            }
        }
        .phone-block {
            margin: 0;
            text-align: left;
        }
        &-subtitle {
            margin-bottom: 3rem;
            line-height: 2.4rem;
        }
        &-form {
            margin-bottom: 3rem;
        }
    }
    .features {
        &-block {
            p {
                font-size: 1.8rem;
            }
        }
    }
    .price-block {
        margin-bottom: 3rem;
        &_category {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
        h4 {
            text-align: left;
        }
    }
    .scheme {
        p {
            font-size: 1.8rem;
            margin-bottom: 3rem;
       } 
    }
    .problems {
        &-list {
            h3 {
                font-size: 2rem;
                font-weight: 500;
            }
            ul {
                font-size: 1.4rem;
            }
        }
    }
    .certificate {
        &-slider {
            .certificate {
                &-block {
                    .first-img {
                        width: 90%;
                    }
                    .second-img {
                        top: 5%;
                        left: 35%;
                    }
                    .third-img {
                        top: 10%;
                        left: 42%;
                    }
                    h3 {
                        font-size: 2rem;
                        font-weight: 500;
                    }
    
                }
            }
        }
    }
    .upsell {
        .section-header {
            p {
                margin-bottom: 3rem;
            }
        }
        &-block {
            p {
                margin-bottom: 3rem;
            }
        }
    }
    .contacts {
        p {
            font-size: 1.8rem;
        }
    }
    footer {
        .footer-logo {
            margin-bottom: 3rem;
        }
        p {
            font-size: 1.8rem;
        }
        .text-bold {
            font-weight: 500;
        }
     }
}
@media(min-width: 577px) and (max-width: 767px){
    .section-header {
        text-align: left;
        p {
            font-size: 1.8rem;
        }
    }
    .phone-block {
        text-align: center;
        margin-right: 5rem;
    }
    .main {
        .header {
            &-top {
                .main-logo {
                    margin-bottom: 2rem;
                }
                .phone-block {
                    margin: 0;
                    text-align: left;
                    a {
                        font-size: 2rem;
                    }
                }
            }
        }
        &-subtitle {
            margin-bottom: 3rem;
            line-height: 2.4rem;
        }
        &-form {
            margin-bottom: 3rem;
        }
    }
    .main-content {
        .main-title {
            text-align: left;
            h1 {
                font-size: 4.6rem;
            }
            .main-subtitle {
                font-size: 2.2rem;
            }
        }
        .main-form {
            margin-bottom: 3rem;
        }
    }
    .price-block {
        margin-bottom: 3rem;
        &_category {
            grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
        }
        h4 {
            text-align: left;
            font-size: 2rem;
        }
    }
    .feedback {
        &-prev-btn {
            left: 0rem;
        }
        &-next-btn {
            right: 0rem;
        }
    }
    .scheme {
        background: none;
        text-align: center;
        &-block {
            min-height: 20rem;
        }
        img {
            margin-top: 2rem;
        }
        p {
            font-size: 1.4rem;
            line-height: 1.2rem;
        }
    }
    .all-inclusive {
        .media {
            &-body {
                h3 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.4rem;
                }
            }
        }
        }
    .problems {
        &-list {
            min-height: auto;
            h3 {
                font-size: 2rem;
            }
            ul {
                font-size: 1.4rem;
            }
        }
    }
    .certificate {
        &-slider {
            .certificate {
                &-block {
                    .first-img {
                        width: 90%;
                    }
                    .second-img {
                        top: 5%;
                        left: 35%;
                    }
                    .third-img {
                        top: 10%;
                        left: 42%;
                    }
                    h3 {
                        font-size: 2rem;
                        font-weight: 500;
                    }
    
                }
            }
        }
    }
    .upsell {
        .section-header {
            p {
                margin-bottom: 3rem;
            }
        }
        &-block {
            p {
                margin-bottom: 3rem;
            }
        }
    }
    .contacts {
        p {
            font-size: 1.8rem;
        }
    }
    footer {
        .footer-logo {
            margin-bottom: 3rem;
        }
        p {
            font-size: 1.8rem;
        }
        .text-bold {
            font-weight: 500;
        }
     }
}
@media(min-width: 768px) and (max-width: 992px){
    .section-header {
        text-align: center;
        p {
            font-size: 2.2rem;
        }
    }
    .phone-block {
        text-align: center;
        margin-right: 5rem;
    }
    .main {
        .header {
            &-top {
                padding: 3rem 0 1.2rem 0;;
                .main-logo {
                    margin-bottom: 2rem;
                }
                .phone-block {
                    margin: 0;
                    text-align: left;
                    a {
                        font-size: 2rem;
                    }
                }
                .wrap {
                    padding-left: 5rem;
                }
            }
        }
        &-subtitle {
            margin-bottom: 3rem;
            line-height: 2.4rem;
        }
        
    }
    .main-content {
        .main-title {
            text-align: left;
            h1 {
                font-size: 4.5rem;
            }
            .main-subtitle {
                font-size: 2.2rem;
            }
        }
        .main-form {
            margin-bottom: 3rem;
        }
    }
    .price-block {
        margin-bottom: 3rem;
        &_category {
            grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        }
        h4 {
            text-align: left;
            font-size: 2rem;
        }
    }
    .feedback {
        &-prev-btn {
            left: 0rem;
        }
        &-next-btn {
            right: 0rem;
        }
    }
    .scheme {
        background: none;
        text-align: center;
        &-block {
            min-height: 20rem;
        }
        img {
            margin-top: 2rem;
        }
        
    }
    .all-inclusive {
        .media {
            margin-top: 2rem;
            &-body {
                h3 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.4rem;
                }
            }
        }
        }
    .problems {
        &-list {
            h3 {
                font-size: 2rem;
            }
            ul {
                font-size: 1.4rem;
            }
        }
    }
    .certificate {
        &-slider {
            .certificate {
                &-block {
                    .first-img {
                        width: 80%;
                    }
                    .second-img {
                        top: 5%;
                        left: 25%;
                    }
                    .third-img {
                        top: 12%;
                        left: 38%;
                    }
                    h3 {
                        font-size: 2rem;
                        font-weight: 500;
                    }
    
                }
            }
        }
    }
    .tour {
        .form {
            label {
                transform: translateX(-50%) translateY(15%);
            }
        }
    }
    .upsell {
        .section-header {
            p {
                margin-bottom: 3rem;
            }
        }
        &-block {
            p {
                margin-bottom: 3rem;
            }
        }
    }
    .contacts {
        p {
            font-size: 1.8rem;
        }
        .map {
            height: 100%;
            iframe {
                min-height: 330px;
            }
        }
    }
    footer {
        .footer-logo {
            margin-bottom: 3rem;
        }
        p {
            font-size: 1.8rem;
        }
        .text-bold {
            font-weight: 500;
        }
     }
}
@media(min-width: 993px) and (max-width: 1190px){
    .button {
        font-size: 1.5rem;
    }
    .form, form {
        label {
            font-size: 1.4rem;
        }
    }
    .section-header {
        text-align: center;
        p {
            font-size: 2.2rem;
        }
    }
    .phone-block {
        text-align: center;
        margin-right: 5rem;
    }
    .main {
        .header {
            &-top {
                padding: 3rem 0 1.2rem 0;;
                .main-logo {
                    margin-bottom: 2rem;
                }
                .phone-block {
                    margin: 0;
                    text-align: left;
                    a {
                        font-size: 2rem;
                    }
                }
                .wrap {
                    padding-left: 5rem;
                }
            }
        }
        &-subtitle {
            margin-bottom: 3rem;
            line-height: 2.4rem;
        }
        
    }
    .main-content {
        .main-title {
            text-align: left;
            h1 {
                font-size: 4.8rem;
                .left {
                    margin-right: 20%;
                }
            }
            .main-subtitle {
                font-size: 2.5rem;
            }
        }
        .main-form {
            margin-bottom: 3rem;
        }
    }
    .features {
        &-block {
            h3 {
                margin-bottom: 10%;
                font-size: 2.5rem;
            }
        }
    }
    .price-block {
        margin-bottom: 3rem;
        &_category {
            grid-template-columns: repeat(auto-fill, minmax(391px, 1fr));
        }
        h4 {
            text-align: left;
            font-size: 2rem;
        }
    }
    .feedback {
        &-prev-btn {
            left: 0rem;
        }
        &-next-btn {
            right: 0rem;
        }
    }
    .scheme {
        background: none;
        text-align: center;
        &-block {
            min-height: 20rem;
        }
        img {
            margin-top: 2rem;
        }
        p {
            font-size: 1.4rem;
        }
        
    }
    .all-inclusive {
        .media {
            margin-top: 2rem;
            &-body {
                h3 {
                    font-size: 2rem;
                }
                p {
                    font-size: 1.4rem;
                }
            }
        }
        }
    .problems {
        &-list {
            h3 {
                font-size: 2rem;
            }
            ul {
                font-size: 1.8rem;
            }
        }
    }
    .certificate {
        &-slider {
            .certificate {
                &-block {
                    .first-img {
                        width: 100%;
                    }
                    .second-img {
                        top: 10%;
                        left: 22%;
                    }
                    .third-img {
                        top: 20%;
                        left: 22%;
                    }
                    h3 {
                        font-size: 2rem;
                        font-weight: 500;
                    }
    
                }
            }
        }
    }
    .tour {
        .form {
            label {
                transform: translateX(-50%) translateY(15%);
            }
        }
    }
    .upsell {
        .section-header {
            p {
                margin-bottom: 3rem;
            }
        }
        &-block {
            p {
                margin-bottom: 3rem;
            }
        }
    }
    .contacts {
        p {
            font-size: 1.8rem;
        }
        .map {
            height: 100%;
            iframe {
                min-height: 330px;
            }
        }
    }
    footer {
        .footer-logo {
            margin-bottom: 3rem;
        }
        p {
            font-size: 1.8rem;
        }
        .text-bold {
            font-weight: 500;
        }
     }
}
@media(min-width: 1191px) {
    
}