/*Colors*/
/*Basic settings*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  font-size: 10px;
  font-family: 'Gill Sans', Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
html body {
  overflow-x: hidden;
}
body {
  width: 100vw;
}
a {
  text-decoration: none;
  color: #1e1e1e;
}
a:hover {
  text-decoration: none;
}
button:focus,
input:focus,
a:focus,
textarea:focus {
  outline: none;
}
.button {
  display: inline-block;
  background-color: #ffe547;
  font-size: 1.2rem;
  font-weight: 700;
  color: #1e1e1e;
  padding: 1rem 3rem;
  border-radius: 6px;
  text-transform: uppercase;
  border: none;
  transition: all 0.2s;
  user-select: none;
  letter-spacing: 0.08rem;
  cursor: pointer;
}
.button:hover {
  cursor: pointer;
  background-color: #ffe12d;
}
.form {
  /*input field*/
  border-radius: 50px;
  /*field signature*/
  /*button in form*/
}
.form-input,
.form-textarea {
  display: block;
  margin: 2rem 0;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 1.5rem;
}
.form label {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
}
.form-btn {
  display: block;
  width: 100%;
  height: 5.5rem;
  font-size: 1.6rem;
}
/*typography*/
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 10rem;
  text-align: center;
}
.section-header_light {
  color: white;
}
.section-header h2 {
  font-weight: 900;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
  color: #1e1e1e;
}
/*Main*/
.main {
  position: relative;
  width: 100vw;
  min-height: 1px;
  background: #fff;
  background-size: cover;
  /*subtitle*/
  /*green label*/
  /*main form*/
}
.main .header-top {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 3rem 0 2rem 0;
}
.main .header-top .main-logo {
  flex-grow: 1;
  width: 129px;
  margin-top: -0.5rem;
}
.main .header-top .main-logo .header-top_logo {
  display: inline-block;
  width: 12.9rem;
  height: 4.1rem;
  background-image: url('../img/kflex-logp.png');
  background-size: contain;
  background-repeat: no-repeat;
}
.main .header-top .phone-block {
  flex-grow: 0;
  padding-bottom: 0;
}
.main .header-top .phone-block a {
  font-size: 1.5rem;
  padding-bottom: 1px;
  font-weight: 700;
}
.main-subtitle {
  margin-bottom: 1rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 3rem 5rem;
  font-size: 1.8rem;
  text-align: center;
  background-color: #fff;
  border: 2px solid #1e1e1e;
  color: #1e1e1e;
  /*number 300*/
}
.main span strong {
  font-size: 3rem;
}
.main-trigger {
  display: block;
  margin-top: 3rem;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.main-form {
  padding: 4rem 5rem;
  background-color: #edf0f6;
  text-align: center;
  /*heading form*/
}
.main-form-header {
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.main-form-header strong {
  font-size: 1.9rem;
}
.main-form small {
  display: block;
  margin-top: 1.5rem;
}
.main-content .main-title h1 {
  margin-bottom: 2rem;
}
/*Features section*/
.features {
  background-color: #edf0f6;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  justify-content: space-around;
}
.features-img img {
  display: block;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.png) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.png) center no-repeat;
  background-size: 70%;
}
/*Prices section*/
.price {
  background-color: #fff;
}
.price-button {
  text-align: right;
}
.price-header-btn {
  margin-top: 4rem;
}
.price-block {
  padding: 1rem 3rem 4rem;
  min-height: 50rem;
  background-color: white;
  box-shadow: 7px 12px 21px 0px rgba(0, 0, 0, 0.17);
  text-align: center;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.6rem;
  font-weight: 900;
}
.price-block_category {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-template-rows: repeat(auto-fill, 110px);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin: 0 0 3rem 0;
}
.price-block_category article {
  position: relative;
  background-color: #edf0f6;
  min-height: 110px;
  overflow: hidden;
  border-radius: 2px;
}
.price-block_category article :hover {
  color: #212529;
}
.price-block_category article img {
  position: absolute;
  top: 0;
  right: -20px;
  height: 120px;
  width: 120px;
  z-index: 99;
}
.price-block_category article a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
  line-height: 2.3rem;
  cursor: pointer;
  padding: 0 90px 0 20px;
}
.price-block_category article a h3 {
  font-size: 1.8rem;
  line-height: 2.1rem;
  font-weight: 500;
}
.price-list {
  padding: 0;
  list-style: none;
  min-height: 14rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.price-list li::before {
  content: '';
  display: inline-block;
  width: 2.2rem;
  height: 2.2rem;
  background: url(../img/check.png) no-repeat center;
  vertical-align: middle;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-weight: 900;
}
/*Feedback section*/
.feedback {
  background-color: #edf0f6;
  background-size: cover;
}
.feedback-prev-btn {
  left: -5rem;
}
.feedback-next-btn {
  right: -5rem;
}
.feedback-text {
  position: relative;
  padding: 1rem;
  margin-top: 2rem;
  border: 2px solid #036303;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 8rem;
  width: 2rem;
  height: 2rem;
  border: 2px solid #036303;
  background-color: #fff;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  padding: 5rem 6rem;
  background-color: #fff;
  box-shadow: 6px 10px 18px 0px rgba(0, 0, 0, 0.11);
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem;
  height: 5rem;
  background-color: #ffe547;
  border: none;
}
.feedback-slider-btn img {
  width: 50%;
}
.feedback .media {
  margin-top: 3rem;
  font-size: 1.4rem;
}
.feedback .media h5 {
  font-weight: 900;
}
.feedback .media img {
  border-radius: 50px;
}
.feedback-form {
  margin-top: 5rem;
  padding: 4rem 10rem;
  text-align: center;
  background-color: #fff;
}
.feedback-form h3 {
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 900;
}
.feedback-form label {
  transform: translate(0%, 32px);
  background-color: #fff;
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
/*Scheme section*/
.scheme {
  background-size: 100%;
}
.scheme .media {
  align-items: baseline;
}
.scheme h3 {
  font-size: 2rem;
}
.scheme p {
  margin-left: 1rem;
}
/*All inclusive*/
.all-inclusive {
  background-color: #edf0f6;
}
.all-inclusive .media {
  min-height: 8rem;
  font-size: 1.3rem;
}
.all-inclusive .media-body {
  margin-left: 1rem;
}
.all-inclusive .media h4 {
  padding-top: 1rem;
  font-weight: 900;
  font-size: 1.6rem;
}
.circle {
  display: inline-block;
  background-color: #ffe547;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 2px solid #1e1e1e;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #1e1e1e;
  font-weight: 900;
  font-size: 1.6rem;
}
/*Problems*/
.problems-list {
  border: 4px solid;
  padding: 2rem;
  margin-bottom: 2rem;
  min-height: 32rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-weight: 900;
}
.problems-list ul {
  padding-left: 0;
  padding-top: 2rem;
  list-style: none;
}
.problems-list ul li {
  position: relative;
  padding-left: 3.5rem;
  margin-bottom: 3rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 3rem;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/problems/icons8-удалить-48.png) no-repeat center;
  background-size: 70%;
}
.problems-list_good {
  border-color: #ffe547;
}
.problems-list_good ul li:before {
  background: url(../img/problems/icons8-галочка-48.png) no-repeat center;
  background-size: 70%;
}
/*Certificate*/
.certificate {
  background-color: #edf0f6;
}
.certificate-slider {
  padding-top: 5rem;
}
.certificate-slider .certificate-block {
  position: relative;
}
.certificate-slider .certificate-block .second-img {
  position: absolute;
}
.certificate-slider .certificate-block .third-img {
  position: absolute;
}
.certificate-slider .certificate-block h3 {
  margin-top: 8rem;
  text-align: center;
}
.certificate-link {
  color: #036303;
  border-bottom: 1px dotted #036303;
}
.certificate-link:hover {
  color: #000000;
}
.certificate img {
  display: block;
  margin: 0 auto;
}
.certificate-offer {
  margin-top: 4rem;
  text-align: center;
}
/*How we works*/
.tour {
  background-color: #fff;
}
.tour-subtitle {
  font-size: 2.2rem;
}
.tour-btn {
  max-width: 30rem;
  margin: auto;
}
/*Upsell*/
.upsell {
  background: #edf0f6;
}
.upsell .section-header h2 {
  color: #1e1e1e;
}
.upsell-block {
  min-height: 15rem;
  color: #fff;
}
.upsell-block img {
  padding: 5px;
  border-radius: 25px;
}
.upsell-block p {
  margin-bottom: 2rem;
  font-size: 2.2rem;
  color: #1e1e1e;
}
.upsell-block span {
  font-size: 1.8rem;
  font-weight: 500;
  color: #1e1e1e;
}
.upsell-block ul {
  font-size: 1.6rem;
  color: #1e1e1e;
}
/*Contacts*/
.contacts h2 {
  font-weight: 900;
}
.contacts p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contacts-link {
  display: inline-block;
  color: #1e1e1e;
  border-bottom: 1px dotted #1e1e1e;
}
.contacts-link:hover {
  color: #000000;
}
.contacts-form h2 {
  margin-bottom: 3rem;
  font-size: 1.9rem;
}
/*Footer*/
footer {
  padding: 4rem 0;
  background-color: #edf0f6;
  color: #fff;
}
footer address {
  color: #1e1e1e;
}
footer address p {
  margin: 0;
  line-height: 2.4rem;
}
.footer-contacts {
  text-align: center;
  padding-top: 2rem;
}
.footer-contacts p {
  margin: 0;
}
/*Modal windows*/
.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 2rem;
  color: white;
}
.popup-content {
  position: fixed;
  top: 10%;
  left: 50%;
  background-color: white;
  transform: translateX(-50%);
  padding: 4rem 6rem;
  text-align: center;
}
.popup-header {
  font-weight: 900;
}
/*Media query*/
@media (max-width: 399.98px) {
  .section-header {
    text-align: left;
  }
  .section-header p {
    font-size: 1.8rem;
  }
  .main .phone-block {
    margin: 0;
    text-align: left;
  }
  .main-subtitle {
    line-height: 2.4rem;
  }
  .main-content .main-title {
    text-align: left;
  }
  .main-content .main-title h1 {
    font-size: 3.6rem;
  }
  .main-content .main-title h1 span {
    display: block;
  }
  .main-content .main-form {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .price-block {
    margin-bottom: 3rem;
  }
  .price-block h4 {
    text-align: left;
  }
  .features-img {
    margin-bottom: 0rem;
  }
  .features-block p {
    font-size: 1.8rem;
  }
  .feedback-slider .feedback-prev-btn {
    left: 1%;
  }
  .feedback-slider .feedback-next-btn {
    right: 1%;
  }
  .feedback-form {
    padding: 4rem 4rem;
  }
  .feedback-form input {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .scheme .container .media {
    margin-bottom: 10%;
    flex-direction: row;
    align-items: center;
  }
  .scheme .container .media-body {
    margin-left: 5%;
  }
  .scheme .container .media-body p {
    margin-left: 0rem;
    font-size: 1.4rem;
  }
  .all-inclusive .media-body h3 {
    font-size: 2rem;
  }
  .all-inclusive .media-body p {
    font-size: 1.5rem;
  }
  .problems-list h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .problems-list ul {
    font-size: 1.4rem;
  }
  .certificate-slider .certificate-block .first-img {
    width: 100%;
  }
  .certificate-slider .certificate-block .second-img {
    top: 10%;
    left: 25%;
  }
  .certificate-slider .certificate-block .third-img {
    top: 20%;
    left: 25%;
  }
  .certificate-slider .certificate-block h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .upsell .section-header p {
    margin-bottom: 3rem;
  }
  .upsell .media {
    flex-direction: column;
    align-items: center;
  }
  .upsell .media-body {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .upsell .media-body p {
    margin-bottom: 3rem;
  }
  .upsell .media-body ul {
    margin-left: 5%;
  }
  .contacts p {
    font-size: 1.4rem;
  }
  .contacts .map {
    margin-bottom: 10%;
    min-height: 25rem;
    height: 90%;
  }
  footer .footer-logo {
    margin-bottom: 3rem;
  }
  footer p {
    font-size: 1.8rem;
  }
  footer .text-bold {
    font-weight: 500;
  }
}
@media (min-width: 400px) and (max-width: 499.98px) {
  .main .phone-block {
    margin: 0;
    text-align: left;
  }
  .main-subtitle {
    line-height: 2.4rem;
  }
  .main-content .main-title {
    text-align: left;
  }
  .main-content .main-title h1 {
    font-size: 3.6rem;
  }
  .main-content .main-title h1 span {
    display: block;
  }
  .main-content .main-form {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  .price-block {
    margin-bottom: 3rem;
  }
  .price-block h4 {
    text-align: left;
  }
  .section-header {
    text-align: left;
  }
  .section-header p {
    font-size: 1.8rem;
  }
  .features-img {
    margin-bottom: 0rem;
  }
  .features-block h3 {
    margin-bottom: 2rem;
  }
  .features-block p {
    font-size: 1.8rem;
  }
  .feedback-slider .feedback-prev-btn {
    left: 1%;
  }
  .feedback-slider .feedback-next-btn {
    right: 1%;
  }
  .feedback-form {
    padding: 4rem 4rem;
  }
  .feedback-form input {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .scheme .container .section-header p {
    margin-left: 0rem;
  }
  .scheme .container .media {
    margin-bottom: 10%;
    flex-direction: row;
    align-items: center;
  }
  .scheme .container .media-body {
    margin-left: 5%;
  }
  .scheme .container .media-body p {
    margin-left: 0rem;
    font-size: 1.4rem;
  }
  .all-inclusive .media-body h3 {
    font-size: 2rem;
  }
  .all-inclusive .media-body p {
    font-size: 1.5rem;
  }
  .problems-list h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .problems-list ul {
    font-size: 1.4rem;
  }
  .certificate-slider .certificate-block .first-img {
    width: 100%;
  }
  .certificate-slider .certificate-block .second-img {
    top: 10%;
    left: 30%;
  }
  .certificate-slider .certificate-block .third-img {
    top: 20%;
    left: 30%;
  }
  .certificate-slider .certificate-block h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .upsell .section-header p {
    margin-bottom: 3rem;
  }
  .upsell .media {
    flex-direction: column;
    align-items: center;
  }
  .upsell .media-left img {
    height: 400px;
    width: 400px;
  }
  .upsell .media-body {
    margin-top: 5%;
    margin-bottom: 10%;
  }
  .upsell .media-body p {
    margin-bottom: 3rem;
  }
  .upsell .media-body ul {
    margin-left: 5%;
  }
  .contacts p {
    font-size: 1.8rem;
  }
  .contacts .map {
    margin-bottom: 10%;
    min-height: 25rem;
    height: 90%;
  }
  footer .footer-logo {
    margin-bottom: 3rem;
  }
  footer p {
    font-size: 1.8rem;
  }
  footer .text-bold {
    font-weight: 500;
  }
}
@media (min-width: 500px) and (max-width: 575.98px) {
  .section-header {
    text-align: left;
  }
  .section-header p {
    font-size: 1.8rem;
  }
  .main .header-top .wrap {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  .main .phone-block {
    margin: 0;
    text-align: left;
  }
  .main-subtitle {
    margin-bottom: 3rem;
    line-height: 2.4rem;
  }
  .main-form {
    margin-bottom: 3rem;
  }
  .features-block h3 {
    margin-bottom: 2rem;
  }
  .features-block p {
    font-size: 1.8rem;
  }
  .feedback-slider .feedback-prev-btn {
    left: 1%;
  }
  .feedback-slider .feedback-next-btn {
    right: 1%;
  }
  .feedback-form {
    padding: 4rem 4rem;
  }
  .feedback-form label {
    transform: translate(0%, 12px);
  }
  .feedback-form input {
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .price-block {
    margin-bottom: 3rem;
  }
  .price-block_category {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
  .price-block h4 {
    text-align: left;
  }
  .scheme .container .section-header p {
    margin-left: 0rem;
  }
  .scheme .container .media {
    margin-bottom: 10%;
    flex-direction: row;
    align-items: center;
  }
  .scheme .container .media-body {
    margin-left: 5%;
  }
  .scheme .container .media-body p {
    margin-left: 0rem;
    font-size: 1.4rem;
  }
  .problems-list h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .problems-list ul {
    font-size: 1.4rem;
  }
  .certificate-slider .certificate-block .first-img {
    width: 100%;
  }
  .certificate-slider .certificate-block .second-img {
    top: 10%;
    left: 34%;
  }
  .certificate-slider .certificate-block .third-img {
    top: 20%;
    left: 34%;
  }
  .certificate-slider .certificate-block h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .upsell .section-header p {
    margin-bottom: 3rem;
  }
  .upsell .media {
    flex-direction: column;
    align-items: center;
  }
  .upsell .media-left img {
    height: 500px;
    width: 500px;
  }
  .upsell .media-body {
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 3%;
  }
  .upsell .media-body p {
    margin-bottom: 3rem;
  }
  .upsell .media-body ul {
    margin-left: 5%;
  }
  .contacts p {
    font-size: 1.8rem;
  }
  .contacts .map {
    margin-bottom: 10%;
    min-height: 25rem;
    height: 90%;
  }
  footer .footer-logo {
    margin-bottom: 3rem;
  }
  footer p {
    font-size: 1.8rem;
  }
  footer .text-bold {
    font-weight: 500;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .section-header {
    text-align: left;
  }
  .section-header p {
    font-size: 1.8rem;
  }
  .phone-block {
    text-align: center;
    margin-right: 5rem;
  }
  .main .header-top .main-logo {
    margin-bottom: 2rem;
  }
  .main .header-top .phone-block {
    margin: 0;
    text-align: left;
  }
  .main .header-top .phone-block a {
    font-size: 2rem;
  }
  .main-subtitle {
    margin-bottom: 3rem;
    line-height: 2.4rem;
  }
  .main-form {
    margin-bottom: 3rem;
  }
  .main-content .main-title {
    text-align: left;
  }
  .main-content .main-title h1 {
    font-size: 4.6rem;
  }
  .main-content .main-title .main-subtitle {
    font-size: 2.2rem;
  }
  .main-content .main-form {
    margin-bottom: 3rem;
  }
  .price-block {
    margin-bottom: 3rem;
  }
  .price-block_category {
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
  .price-block h4 {
    text-align: left;
    font-size: 2rem;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
  .scheme img {
    margin-top: 2rem;
  }
  .scheme p {
    font-size: 1.4rem;
    line-height: 1.2rem;
  }
  .all-inclusive .media-body h3 {
    font-size: 2rem;
  }
  .all-inclusive .media-body p {
    font-size: 1.4rem;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-list h3 {
    font-size: 2rem;
  }
  .problems-list ul {
    font-size: 1.4rem;
  }
  .certificate-slider .certificate-block .first-img {
    width: 90%;
  }
  .certificate-slider .certificate-block .second-img {
    top: 5%;
    left: 35%;
  }
  .certificate-slider .certificate-block .third-img {
    top: 10%;
    left: 42%;
  }
  .certificate-slider .certificate-block h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .upsell .section-header p {
    margin-bottom: 3rem;
  }
  .upsell-block p {
    margin-bottom: 3rem;
  }
  .contacts p {
    font-size: 1.8rem;
  }
  footer .footer-logo {
    margin-bottom: 3rem;
  }
  footer p {
    font-size: 1.8rem;
  }
  footer .text-bold {
    font-weight: 500;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .section-header {
    text-align: center;
  }
  .section-header p {
    font-size: 2.2rem;
  }
  .phone-block {
    text-align: center;
    margin-right: 5rem;
  }
  .main .header-top {
    padding: 3rem 0 1.2rem 0;
  }
  .main .header-top .main-logo {
    margin-bottom: 2rem;
  }
  .main .header-top .phone-block {
    margin: 0;
    text-align: left;
  }
  .main .header-top .phone-block a {
    font-size: 2rem;
  }
  .main .header-top .wrap {
    padding-left: 5rem;
  }
  .main-subtitle {
    margin-bottom: 3rem;
    line-height: 2.4rem;
  }
  .main-content .main-title {
    text-align: left;
  }
  .main-content .main-title h1 {
    font-size: 4.5rem;
  }
  .main-content .main-title .main-subtitle {
    font-size: 2.2rem;
  }
  .main-content .main-form {
    margin-bottom: 3rem;
  }
  .price-block {
    margin-bottom: 3rem;
  }
  .price-block_category {
    grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  }
  .price-block h4 {
    text-align: left;
    font-size: 2rem;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
  .scheme img {
    margin-top: 2rem;
  }
  .all-inclusive .media {
    margin-top: 2rem;
  }
  .all-inclusive .media-body h3 {
    font-size: 2rem;
  }
  .all-inclusive .media-body p {
    font-size: 1.4rem;
  }
  .problems-list h3 {
    font-size: 2rem;
  }
  .problems-list ul {
    font-size: 1.4rem;
  }
  .certificate-slider .certificate-block .first-img {
    width: 80%;
  }
  .certificate-slider .certificate-block .second-img {
    top: 5%;
    left: 25%;
  }
  .certificate-slider .certificate-block .third-img {
    top: 12%;
    left: 38%;
  }
  .certificate-slider .certificate-block h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .tour .form label {
    transform: translateX(-50%) translateY(15%);
  }
  .upsell .section-header p {
    margin-bottom: 3rem;
  }
  .upsell-block p {
    margin-bottom: 3rem;
  }
  .contacts p {
    font-size: 1.8rem;
  }
  .contacts .map {
    height: 100%;
  }
  .contacts .map iframe {
    min-height: 330px;
  }
  footer .footer-logo {
    margin-bottom: 3rem;
  }
  footer p {
    font-size: 1.8rem;
  }
  footer .text-bold {
    font-weight: 500;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .button {
    font-size: 1.5rem;
  }
  .form label,
  form label {
    font-size: 1.4rem;
  }
  .section-header {
    text-align: center;
  }
  .section-header p {
    font-size: 2.2rem;
  }
  .phone-block {
    text-align: center;
    margin-right: 5rem;
  }
  .main .header-top {
    padding: 3rem 0 1.2rem 0;
  }
  .main .header-top .main-logo {
    margin-bottom: 2rem;
  }
  .main .header-top .phone-block {
    margin: 0;
    text-align: left;
  }
  .main .header-top .phone-block a {
    font-size: 2rem;
  }
  .main .header-top .wrap {
    padding-left: 5rem;
  }
  .main-subtitle {
    margin-bottom: 3rem;
    line-height: 2.4rem;
  }
  .main-content .main-title {
    text-align: left;
  }
  .main-content .main-title h1 {
    font-size: 4.8rem;
  }
  .main-content .main-title h1 .left {
    margin-right: 20%;
  }
  .main-content .main-title .main-subtitle {
    font-size: 2.5rem;
  }
  .main-content .main-form {
    margin-bottom: 3rem;
  }
  .features-block h3 {
    margin-bottom: 10%;
    font-size: 2.5rem;
  }
  .price-block {
    margin-bottom: 3rem;
  }
  .price-block_category {
    grid-template-columns: repeat(auto-fill, minmax(391px, 1fr));
  }
  .price-block h4 {
    text-align: left;
    font-size: 2rem;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
  .scheme img {
    margin-top: 2rem;
  }
  .scheme p {
    font-size: 1.4rem;
  }
  .all-inclusive .media {
    margin-top: 2rem;
  }
  .all-inclusive .media-body h3 {
    font-size: 2rem;
  }
  .all-inclusive .media-body p {
    font-size: 1.4rem;
  }
  .problems-list h3 {
    font-size: 2rem;
  }
  .problems-list ul {
    font-size: 1.8rem;
  }
  .certificate-slider .certificate-block .first-img {
    width: 100%;
  }
  .certificate-slider .certificate-block .second-img {
    top: 10%;
    left: 22%;
  }
  .certificate-slider .certificate-block .third-img {
    top: 20%;
    left: 22%;
  }
  .certificate-slider .certificate-block h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .tour .form label {
    transform: translateX(-50%) translateY(15%);
  }
  .upsell .section-header p {
    margin-bottom: 3rem;
  }
  .upsell-block p {
    margin-bottom: 3rem;
  }
  .contacts p {
    font-size: 1.8rem;
  }
  .contacts .map {
    height: 100%;
  }
  .contacts .map iframe {
    min-height: 330px;
  }
  footer .footer-logo {
    margin-bottom: 3rem;
  }
  footer p {
    font-size: 1.8rem;
  }
  footer .text-bold {
    font-weight: 500;
  }
}
@media (min-width: 1200px) {
  .button {
    font-size: 2rem;
  }
  .form label,
  form label {
    font-size: 1.4rem;
  }
  .section-header {
    text-align: center;
  }
  .section-header h2 {
    font-size: 4.6rem;
  }
  .section-header p {
    font-size: 3.2rem;
  }
  .phone-block {
    text-align: center;
    margin-right: 5rem;
  }
  .main .header-top {
    padding: 3rem 0 1.2rem 0;
  }
  .main .header-top .main-logo {
    margin-bottom: 2rem;
  }
  .main .header-top .phone-block {
    margin: 0;
    text-align: left;
  }
  .main .header-top .phone-block a {
    font-size: 2.5rem;
  }
  .main .header-top .wrap {
    padding-left: 5rem;
  }
  .main-subtitle {
    margin-bottom: 3rem;
    line-height: 2.4rem;
  }
  .main-content .main-title {
    text-align: left;
  }
  .main-content .main-title h1 {
    font-size: 5.5rem;
  }
  .main-content .main-title h1 .left {
    margin-right: 25%;
  }
  .main-content .main-title .main-subtitle {
    font-size: 3rem;
    line-height: 2.8rem;
  }
  .main-content .main-form {
    margin-bottom: 3rem;
  }
  .main-content .main-form-header {
    font-size: 2rem;
  }
  .features-block .features-img {
    justify-content: flex-start;
  }
  .features-block .features-img h3 {
    margin-bottom: 10%;
    font-size: 2.5rem;
  }
  .price-block {
    margin-bottom: 3rem;
  }
  .price-block_category {
    grid-template-columns: repeat(auto-fill, minmax(481px, 1fr));
  }
  .price-block h4 {
    text-align: left;
    font-size: 2rem;
  }
  .feedback-prev-btn {
    left: 0rem;
  }
  .feedback-next-btn {
    right: 0rem;
  }
  .scheme {
    background: none;
    text-align: center;
  }
  .scheme-block {
    min-height: 20rem;
  }
  .scheme img {
    margin-top: 2rem;
  }
  .scheme p {
    font-size: 1.4rem;
  }
  .all-inclusive .media {
    margin-top: 2rem;
  }
  .all-inclusive .media-body h3 {
    font-size: 2rem;
  }
  .all-inclusive .media-body p {
    font-size: 1.4rem;
  }
  .problems-list h3 {
    font-size: 2rem;
  }
  .problems-list ul {
    font-size: 1.8rem;
  }
  .certificate-slider .certificate-block .first-img {
    width: 100%;
  }
  .certificate-slider .certificate-block .second-img {
    top: 10%;
    left: 27%;
  }
  .certificate-slider .certificate-block .third-img {
    top: 20%;
    left: 27%;
  }
  .certificate-slider .certificate-block h3 {
    font-size: 2rem;
    font-weight: 500;
  }
  .tour .form label {
    transform: translateX(-50%) translateY(15%);
  }
  .upsell .section-header p {
    margin-bottom: 3rem;
  }
  .upsell .upsell-block .media-left {
    margin-bottom: 3rem;
  }
  .upsell .upsell-block .media-body {
    margin-left: 5%;
    padding-bottom: 5%;
  }
  .upsell .upsell-block .media-body p {
    margin-bottom: 3rem;
    font-size: 2.2rem;
  }
  .contacts p {
    font-size: 1.8rem;
  }
  .contacts .map {
    height: 100%;
  }
  .contacts .map iframe {
    min-height: 330px;
  }
  footer .footer-logo {
    margin-bottom: 3rem;
  }
  footer p {
    font-size: 1.8rem;
  }
  footer .text-bold {
    font-weight: 500;
  }
}
